<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SSI Solid Server</title>
  <link rel="stylesheet" href="/.well-known/css/styles/main.css" type="text/css">
</head>
<body>
  <header>
    <a href=".."><img src="/.well-known/css/images/solid.svg" alt="[Solid logo]" /></a>
    <h1>SSI Solid Server</h1>
  </header>
  <main>
    <h1>Bem vindo à Descentralização!</h1>
    <p>
      Esse servidor implementa o protocolo 
      <a href="https://solidproject.org/about">Solid</a> para incentivar
      a Identidade Auto Soberana - <em>Self Sovereign Identity (SSI)</em>, promovendo 
      a privacidade e segurança dos dados dos usuários, assim como a descentralização da 
      Web.
    </p>

    <h2 id="users">Começando como <em>usuário</em></h2>
    <p id="registration-enabled">
      <a id="registration-link" href="./.account/login/password/register/">
      Crie uma conta</a> para começar a utilizar seu próprio Pod e WebID.
    </p>
    <p id="registration-disabled" class="hidden">
      O registro está desabilitado neste servidor. Certifique-se de atualizar as 
      permissões do contêiner raiz para impedir que outras pessoas modifiquem seu 
      servidor.
    </p>
    <p>
      Para aprender como utilizar esse servidor, acesse a página do projeto no 
      <a href="https://github.com/8ifq3/SSI-Solid-Server#">Github.</a>
    </p>

    <h2 id="developers">Começando como <em>desenvolvedor</em></h2>
    <p>
      Você pode usar qualquer uma das configurações na pasta <em>config</em> do 
      servidor para configurar um servidor com diferentes recursos. Além das 
      configurações fornecidas, você também pode ajustar sua própria configuração 
      personalizada usando o 
      <a href="https://communitysolidserver.github.io/configuration-generator/">
      gerador de configurações</a>.
    </p>
    <p>
      Você pode facilmente escolher qualquer pasta no seu disco
      para expor como Pod raiz.
      <br>
      Use <code>--help</code> na linha de comando para saber mais.
    </p>

    <h2>Bons Estudos!</h2>
    <p>
      <strong>Conheça também o projeto 
      <a href="https://sol.sbc.org.br/index.php/weihc/article/view/22854">
      SmartUnB.ECOS</a>.</strong>
    </p>
    <p>
      O projeto SmartUnB.ECOS proporciona um ecossistema educacional digital para 
      atendimento à comunidade de campus universitário, provendo interoperabilidade de 
      ferramentas de comunicação e de educação, fomentando a socialização e a 
      aprendizagem; utilizando também a tecnologia Solid.
    </p>
  </main>
  <footer>
    <p>
      Projeto Acadêmico da Universidade de Brasília (UnB)
    </p>
  </footer>
</body>
<script>
  (async() => {
    // Since this page is in the root of the server, we can determine other URLs relative to the current URL
    const res = await fetch('.account/');
    const registrationUrl = (await res.json())?.controls?.html?.password?.register;
    // We specifically want to check if the HTML page that we link to exists
    const resRegistrationPage = await fetch(registrationUrl, { headers: { accept: 'text/html' } });
    const registrationEnabled = registrationUrl && resRegistrationPage.status === 200;

    document.getElementById('registration-enabled').classList[registrationEnabled ? 'remove' : 'add']('hidden');
    document.getElementById('registration-disabled').classList[registrationEnabled ? 'add' : 'remove']('hidden');
    document.getElementById('registration-link').href = registrationUrl;
  })();
</script>
</html>
